.top-nav {
  background-color: var(--navbar-bg);
  color: #fff;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  width: 100vw;
  height: 80px;

  z-index: 100;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.title {
  user-select: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 600;

  color: #fff;

  border-bottom: 4px solid transparent;

  padding-left: 40px;

  animation: moveInLeft 1s ease-in-out;
}

.title:hover {
  cursor: pointer;

  border-bottom: 4px solid var(--light-purple);
  color: var(--light-purple);

  transition: 0.2s ease-in-out;
}

.title:active {
  border-bottom: 4px solid var(--lightest-purple);
  color: var(--lightest-purple);

  transition: 0.2s ease-in-out;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 4px solid transparent;

  animation: moveInBottom 1s ease-in-out;
}

.search-container:hover {
  border-bottom: 4px solid var(--light-purple);

  transition: 0.2s ease-in-out;
}

.search-container:active {
  border-bottom: 4px solid var(--lightest-purple);

  transition: 0.2s ease-in-out;
}

.search-input {
  all: unset;

  width: 75%;
  height: 76px;

  color: #fff;

  cursor: text;
}

.search-input::placeholder {
  font-size: 1rem;

  color: #fff;

  cursor: text;
}

.search-input:focus::placeholder {
  color: var(--light-purple);
}

.search-input:hover::placeholder {
  color: var(--light-purple);

  transition: color 0.2s ease-in-out;
}

.search-btn {
  all: unset;

  height: 76px;
  width: 25%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn:hover {
  cursor: pointer;

  color: var(--light-purple);

  transition: 0.2s ease-in-out;
}

.search-btn:active {
  color: var(--lightest-purple);

  transition: 0.2s ease-in-out;
}

.search-icon {
  height: 30px;
  width: 30px;
}

.profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  border-bottom: 4px solid transparent;

  padding-right: 40px;

  animation: moveInRight 1s ease-in-out;
}

.profile-container:hover {
  cursor: pointer;

  border-bottom: 4px solid var(--light-purple);

  color: var(--light-purple);

  transition: 0.2s ease-in-out;
}

.profile-container:active {
  border-bottom: 4px solid var(--lightest-purple);

  color: var(--lightest-purple);

  transition: 0.2s ease-in-out;
}

.profile-icon {
  height: 40px;
  width: 40px;
}
