.todos-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: 20px;

  color: #fff;
}

.add-todo-icon {
  font-size: 80px;

  width: 100%;

  cursor: pointer;
}

.todo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100px;

  border-radius: 20px;
  border: 2px solid var(--light-grey);

  background: radial-gradient(closest-side, grey, var(--grey));

  padding: 10px;
  margin-bottom: 10px;

  animation: moveInRight 1s ease-in-out;
}

.todo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-img-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-img {
  height: 80px;

  border-radius: 20px;

  margin-right: 10px;

  background-size: cover;
  background-position: center;
}

.todo-img:hover {
  scale: 1.2;

  transition: all 0.2s ease-in-out;
}

.todo-text {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.todo-title {
  font-size: 1.4rem;
  font-weight: 400;

  border-bottom: 2px solid var(--light-grey);
}

.todo-description {
  font-size: 0.9rem;
  font-weight: 300;
}

.todo-edit {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 1.4rem;

  gap: 10px;
}

.todo-settings-icon-container {
  padding: 10px;
}

.todo-settings-icon-container:hover {
  cursor: pointer;
  color: var(--dark-purple);
}

.todo-settings-icon-container:active {
  color: var(--lightest-purple);
}

.todo-delete-icon-container {
  padding: 10px;
}

.todo-delete-icon-container:hover {
  cursor: pointer;
  color: var(--dark-purple);
}

.todo-delete-icon-container:active {
  color: var(--lightest-purple);
}
